.container {
  max-width: 1440px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #fff;
}

.formWrapper {
  max-width: 1440px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  background-color: #fff;
  @media screen and (max-width: 768px) {
    width: 100%;
  }
}

.title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px; /* Espaçamento entre os campos */
}

.input,
.textarea {
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
  box-sizing: border-box; /* Inclui padding na largura total */
}

.input:focus,
.textarea:focus {
  border-color: #0070f3;
}

.terms {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 0.9rem;
}

.button {
  display: flex;
  justify-content: center;
  padding: 10px;
  font-size: 1rem;
  font-weight: bold;
  color: #fff;
  background-color: #4169e1;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-transform: uppercase;
  transition: background-color 0.3s ease;
  img {
    width: 50px;
    height: 50px;
  }
}

.button:hover {
  background-color: #005bb5;
}
