.page {
  width: 100%;
  align-items: center;
  justify-items: center;
  min-height: auto;
  gap: 48px;
  font-family: var(--font-geist-sans);
  overflow-x: hidden;
  scrollbar-width: none;
  margin: 0 auto;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 32px;
  grid-row-start: 2;
}

.footer {
  width: 100%; /* Garante que o footer ocupe toda a largura disponível */
  background-color: #000;
  color: #fff;
  padding: 40px 20px;
  font-family: "Montserrat", sans-serif;
}

.whatsappButton {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000; /* Garante que fique acima dos outros elementos */
  cursor: pointer;
  transition: transform 0.3s ease;
}

.whatsappButton img {
  width: 150px;
  height: auto;
}

.whatsappButton:hover {
  transform: scale(1.1); /* Efeito ao passar o mouse */
}
