.productSwiper {
  width: 100%;
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1440px;
  @media screen and (max-width: 768px) {
    padding: 0px;
  }
  hr {
    border: none;
    border-top: 2px solid #ececec;
    width: 100%;
    margin-block: 20px;
  }
}

.productSwiper h2 {
  font-size: 30px;
  @media screen and (max-width: 768px) {
    font-size: 24px;
  }
}

.categoryTabs {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  h4 {
    font-size: 22px;
    @media screen and (max-width: 768px) {
      font-size: 18px;
    }
  }
}

.categoryTabs button {
  font-size: 18px;
  padding: 10px 20px;
  background: none;
  border: none;
  font-weight: 700;
  color: #737373;
  margin: 0 10px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.categoryTabs .activeTab {
  border: none;
  color: #4169e1;
}

.swiperContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper {
  width: 100%;
}

.swiperSlide {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  text-align: center;
}

.swiperSlide img {
  width: 100%;
  height: auto;
  max-width: 250px;
  border-radius: 8px;
}

.productSwiper h3 {
  font-size: 18px;
  margin: 10px 0;
  @media screen and (max-width: 768px) {
    font-size: 16px;
  }
}

.productSwiper p {
  font-size: 14px;
  color: #777;
  @media screen and (max-width: 768px) {
    font-size: 12px;
  }
}

.productSwiper .price {
  font-size: 16px;
  font-weight: bold;
  color: #000;
  @media screen and (max-width: 768px) {
    font-size: 14px;
  }
}
